.pieNeedle path {
  stroke: darkslategray;
  stroke-width: 0;
}

.pieChart path {
  stroke: darkslategray;
  stroke-width: 3px;
}

.pieChart text {
  font-weight: bold;
  font-size: 1rem;
}

.button {
  fill: #3a3a3c;
  cursor: pointer;
}

.button:active {
  fill: #3a3a3c;
}

.countDownTimer {
  font-family: monospace;
  text-transform: capitalize;
  font-size: 1.7em;
  fill: goldenrod;
}
