.slider {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0vh;
  height: 98vh;
  width: 97vw;
  max-width: inherit;
  overflow: hidden;
  background-color: darkslategray;
  border: 5px solid darkgoldenrod;
  border-radius: 20px;
  transition: 1s cubic-bezier(0.4, -0.45, 0.3, 1.35);
}

.slider.close {
  top: 100%;
  height: 0;
}

.flexDirectionSwichContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.bottomAndRight {
  overflow: auto;
}

@media all and (min-width: 720px) {
  .flexDirectionSwichContainer {
    flex-direction: row;
  }
  .upAndLeft {
    flex: 1;
  }
  .bottomAndRight {
    flex: 1;
  }
}

.largeDigit {
  margin: 0.8rem;
  font-family: monospace;
  font-size: 2rem;
  font-weight: 200;
  color: steelblue;
}
