.slider {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0vh;
  height: 98vh;
  width: 97vw;
  max-width: inherit;
  overflow: hidden;
  background-color: darkslategray;
  border: 5px solid darkgoldenrod;
  border-radius: 20px;
  transition: all 0.7s;
}

.slider.close {
  top: 100%;
  height: 0;
}

.flexLayout {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.bottomAndRight {
  overflow: auto;
}

@media all and (min-width: 720px) {
  .flexLayout {
    flex-direction: row;
  }
  .upAndLeft {
    flex: 1 0 50%;
  }
  .bottomAndRight {
    flex: 1 0 50%;
  }
}
