.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 0.5rem;
}

.title {
  color: palegoldenrod;
}

.navButton {
  border: none;
  background-color: inherit;
  color: darkgoldenrod;
  font-size: 1.1em;
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem;
}

.navigation > a:link {
  text-decoration: none;
}

.navigation > a:visited {
  text-decoration: none;
}
