.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0.5rem;
}

.title {
  color: palegoldenrod;
  display: inline-block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.leftButton {
  position: relative;
  border: none;
  background-color: inherit;
  color: darkgoldenrod;
  font-size: 1.1em;
  font-weight: 500;
  cursor: pointer;
}

.linkButton {
  position: relative;
  border: none;
  color: darkgoldenrod;
  font-size: 1.1em;
  font-weight: 500;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
