.scrollable {
  margin: 0em 2em;
  background-color: darkslategray;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

.list {
  padding-left: 0;
}

.listItem {
  list-style: none;
  margin-top: 1em;
}

.listItem:first-child {
  margin-top: 0;
}

.heading {
  margin: 0.5rem;
  color: darkcyan;
  font-variant: small-caps;
}

.timeGuide {
  display: block;
  font-size: 1.2em;
  font-family: monospace;
  font-variant: small-caps;
  font-weight: bold;
  color: darkgoldenrod;
}

.instruction {
  font-size: larger;
  color: darkcyan;
}

.activeText {
  color: palegoldenrod;
  font-size: larger;
}
