.onOffButton {
  background-color: #3a3a3c;
  font-variant: small-caps;
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  color: #1c1c1e;
  cursor: pointer;
  padding: 1rem;
  width: 5em;
  height: 5em;
  border: 5px solid #1c1c1e;
  transition: transform 300ms ease;
  box-shadow: inset 6px 7px 3px -3px #48484a, inset -4px -3px 3px -3px #48484a;
  border-radius: 50px;
}

.onOffButton:hover,
.active {
  color: goldenrod;
  border: 5px solid goldenrod;
}

.clock {
  margin: 10px;
}
